body {
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: gray;
}

footer p {
  text-align: right;
} 

.icons {
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

svg {
  width: 50px;
  height: 50px;
}

